@charset "UTF-8";
#wrapper{
	width: 1000px;
	height: 600px;
	margin: 0px auto;
	padding-top: 5px;
	background: rgb(103,105,199);
	background: radial-gradient(circle, rgba(103,105,199,1) 0%, rgba(45,52,115,1) 100%);
	font-family: Arial;
	color: white;
}
#head{
	text-align: center;
	text-decoration: underline;
	color: black;
	margin-top: 50px;
}
#subHead{
	text-align: center;
	text-decoration: underline;
	margin-top: 20px;
}
.loginLink{
	display: block;
	text-align: center;
	color: yellow;
	padding: 8px;
	font-size: larger;
}
.indexLink{
	display: inline-block;
	color: yellow;
	margin: 25px 0px 0px 760px;
	padding: 0px 8px;
}
.additionalLink{
	display: inline-block;
	color: yellow;
	margin-top: 10px;
	padding: 0px 8px;
}
#questionInput{
	width: 600px;
}
#tagInput{
	width: 400px;
}
.formDiv{
	padding: 10px;
}
.tableLink{
	color: yellow;
}
#questionDisplay{
	display: inline-block;
	margin-left: 164.5px;
}
.questionTd{
	padding: 5px 30px 5px 5px;
}
.tagTd{
	padding: 5px;
	text-align: center;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
	border-width: 1px;
}
.tableHead{
	color: black;
	text-align: center;
	font-weight: bold;
}
#inputForm{
	text-align: center;
}
#infoLink{
	color: yellow;
}
#button{
	display: inline-block;
	text-align: center;
	padding: 6px 10px;
	font-weight: bold;
	border-radius: 12px;
}
.formLabel{
	color: black;
	font-weight: bold;
}
#tagsDisplay{
	display: block;
	margin: 0px 0px 25px 150px;
}
.qDisplayTag{
	display: inline-block;
	padding: 6px 15px;
	text-align: center;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
	border-width: 1px;
	margin-left: 30px;
}
#qDisplayHead{
	display: inline-block;
	color: yellow;
	font-weight: bold;
	font-size: x-large;
}
#answerDisplay{
	display:inline-block;
	margin-left: 125px;
}
#answerForm{
	display: inline-block;
	margin-left: 200px;
}
.answerInput{
	width: 350px;
}
#validations{
	color: yellow;
/* 	dislay:; */
}