@charset "UTF-8";
#wrapper{
	width: 1000px;
	height: 600px;
	margin: 0px auto;
	padding-top: 25px;
	background: rgb(103,105,199);
	background: radial-gradient(circle, rgba(103,105,199,1) 0%, rgba(45,52,115,1) 100%);
	font-family: Arial;
	color: white;
}
#head{
	text-align: center;
	text-decoration: underline;
	color: black;
	margin-top: 50px;
}
.logoutLink{
	color: yellow;
	margin: 15px 0px 0px 700px;
}
.formInput{
	width: 400px;
}
#inputForm{
	text-align: center;
}
#button{
	margin: 15px;
	padding: 5px;
	border-radius: 6px;
}
.formInput{
	padding: 3px 6px;
}
.tLink{
	color: yellow;
}
#secretsTable{
	text-align: center;
	display: inline-block;
	margin: 0px 247px;
}
.tData{
	padding: 3px 10px;
}