@charset "UTF-8";
*{
	margin: 0px;
	padding: 0px;
}
#wrapper{
	width: device-width;
	height: 1000px;
	margin: 0px auto;
	padding-top: 25px;
	font-family:Arial, Helvetica, sans-serif;
    background: rgb(92,97,176);
    background: radial-gradient(circle, rgba(92,97,176,1) 0%, rgba(40,46,91,1) 84%);
    color: blanchedalmond;
}
.validations{
	color: crimson;
}

.navLink{
	color:coral;
    margin: 0px 20px;
    font-size: larger;
    text-align: right;
}
#regDiv, #loginDiv{
	display: inline-block;
	margin-left: 40%;
	vertical-align: top;
	text-align: center;
}
#nav{
	display:inline-block;
    margin-left: 80%;
}
.button{
	margin-left: 100px;
	border-radius: 6px;
}
.subHead{
	text-align: center;
	text-decoration: underline;
	color: black;
}
.formGroup{
	margin: 10px;
	text-align: center;
}



#head{
	text-align: center;
	text-decoration: underline;
	color: black;
	margin-top: 50px;
}





.formInput{
	border-radius: 6px;
}
