@charset "UTF-8";
#wrapper{
	width: 1000px;
	height: 600px;
	margin: 0px auto;
	padding-top: 25px;
	background: rgb(103,105,199);
	background: radial-gradient(circle, rgba(103,105,199,1) 0%, rgba(45,52,115,1) 100%);
	font-family: Arial;
	color: white;
}
#head{
	text-align: center;
	text-decoration: underline;
	color: black;
	margin-top: 50px;
}
.subHead{
	text-align: center;
}
#logoutLink{
	color: yellow;
	margin: 15px 0px 0px 700px;
}
.pageLink{
	color: yellow;
}
#inputForm{
	display: inline-block;
	margin: 0px 196px;
	text-align: center;
}
.validation{
	color: yellow;
}
.formInput{
	width: 600px;
	margin: 10px;
}
#button{
	padding: 3px 8px;
	margin: 10px;
}
.tData{
	padding: 2px 10px;
	text-align: center;
}
.tLink{
	color: yellow;
}
#ideasTable{
	display: inline-block;
	margin: 0px 160px;
}
#likesLinks{
	text-align: center;
	margin: 10px 0px;
}
#likesTable{
	display: inline-block;
	text-align: center;
	margin-left: 450px;
	color: black;
}
#deleteLink{
	display: block;
	color: yellow;
	text-align: center;
}