@charset "UTF-8";
#wrapper{
	width: 1000px;
	height: fit-content;
	margin: 0px auto;
	padding: 30px 0px;
	background: rgb(103,105,199);
	background: radial-gradient(circle, rgba(103,105,199,1) 0%, rgba(45,52,115,1) 100%);
	font-family: Arial;
	color: white;
}
#head{
	text-align: center;
	text-decoration: underline;
	color: black;
	margin-top: 50px;
}
.displaySubHead{
	color: black;
	text-decoration: none;
}
.displayInfo{
	color: white;
	text-decoration: underline yellow;
}
#displayCount{
	color: yellow;
}
#wallLink{
	display: inline-block;
	color: yellow;
	margin-left: 800px;
}
#infoDiv{
	display: inline-Block;
	margin: 10px 0px 0px 130px;
	vertical-align: top;
}
.nData{
	padding: 6px;
	color: black;
	font-weight: bold;
}
.lData{
	padding: 6px;
	font-weight: bold;
}
#messageDiv{
	display: inline-block;
	padding: 20px;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	border-radius: 10px;
	width: 400px;
	height: fit-content;
	vertical-align: top;
	margin: 10px 0px 0px 100px;
	color: black;
}
#mDisplay{
	background: white;
	padding: 5px;
	margin: 10px 0px;
}
#addMessage{
	display: inline-block;
	width: 320px;
	margin-left: 95px;
	vertical-align: top;
}
.messInput{
	width: 300px;
}
#mInputHead{
	margin-top: 0px;
}
#button{
	margin: 10px;
}