@charset "UTF-8";
#wrapper{
	width: 1000px;
	height: 600px;
	margin: 0px auto;
	padding-top: 20px;
	background: rgb(103,105,199);
	background: radial-gradient(circle, rgba(103,105,199,1) 0%, rgba(45,52,115,1) 100%);
	font-family: Arial;
	color: white;
}
h1{
	text-align: center;
	text-decoration: underline;
	margin-top: 15px;
	color: black;
}
#startLink{
	display: block;
	color: yellow;
	text-align: center;
	font-size: x-large;
	margin-top: 200px;
}
#pageLink{
	display: inline-block;
	color: yellow;
	font-size: larger;
	margin: 15px 0px 15px 100px;
}
#inputForm{
	margin: 50px 0px 0px 400px;
}
.info{
	margin: 20px 0px 0px 150px;
}
.infoHead{
	color: black;
}
#songDisplay{
	margin: 20px 0px 0px 365px;
	border: black solid 2px;
	padding: 10px;
}
.link{
	color: yellow;
}
td{
	padding: 5px;
}