@charset "UTF-8";
#wrapper{
	width: 1000px;
	height: 600px;
	margin: 0px auto;
	padding-top: 5px;
	background: rgb(103,105,199);
	background: radial-gradient(circle, rgba(103,105,199,1) 0%, rgba(45,52,115,1) 100%);
	font-family: Arial;
	color: white;
}
h1{
	text-align: center;
	text-decoration: underline;
	color: black;
	margin-top: 50px;
}
#formInput{
	display: inline-block;
	padding: 9px 25px;
	margin: 10px 0px 0px 314.5px;
	border-width: 3px;
	border-color: black;
	border-radius: 10px;
	border-style: solid;
}
#formInfo{
	width: 220px;
	display: inline-block;
	padding: 9px 25px;
	margin: 115.845px 0px 0px 365.345px;
	border-width: 3px;
	border-color: black;
	border-radius: 10px;
	border-style: solid;
}
#nameInput{
	margin-left: 97.66px;
	padding: 2px;
	border-radius: 6px;
}
#languageInput{
	margin-left: 111px;
	padding: 2px;
	border-radius: 6px;
}
#locationInput{
	margin-left: 154px;
	padding: 2px;
	border-radius: 6px;
}
#button{
	display: block;
	padding: 2px;
	border-radius: 6px;
	margin: 10px 0px 10px 293.23px;
}
#commentInput{
	border-radius: 6px;
}
#pageLink{
	color: yellow;
	text-decoration: underline;
	display: block;
	margin: 25px 0px 0px 800px;
}
#commentOut{
	border-radius: 10px;
}
#javaFun{
	color: yellow;
}
.span{
	border:thin black solid;
	color: yellow;
}