@charset "UTF-8";
#wrapper{
	width: 1000px;
	height: 600px;
	margin: 0px auto;
	padding-top: 25px;
	background: rgb(103,105,199);
	background: radial-gradient(circle, rgba(103,105,199,1) 0%, rgba(45,52,115,1) 100%);
	font-family: Arial;
	color: white;
}
h1{
	text-align: center;
	text-decoration: underline;
	color: black;
	margin-top: 50px;
}
#addPersonLink{
	display: inline-block;
	color: yellow;
	margin: 0px 0px 0px 150px;
}
#inputDiv{
	display: inline-block;
	padding: 5px;
	margin: 20px 0px 0px 374.9375px;
}
.formDiv{
	padding: 5px;
}
.formLabel{
	color: black;
}
#button{
	margin-left: 185px;
}